<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="YubicoCredentials" type="InsideIAM.Yubico.Library.Configurations.YubicoCredentialsSection, Yubico.Library" />
    <section name="YubicoApiResponse" type="InsideIAM.Yubico.Library.Configurations.YubicoApiResponseSection, Yubico.Library" />
    <section name="YubicoApiRequest" type="InsideIAM.Yubico.Library.Configurations.YubicoApiRequestSection, Yubico.Library" />
    <section name="YubicoApiValues" type="InsideIAM.Yubico.Library.Configurations.YubicoApiValuesSection, Yubico.Library" />
  </configSections>
  
  <!-- You must change these values with your own values from YUBICO -->
  <YubicoCredentials Id="[INSERT_YOUR_YUBICO_ID_HERE]" PrivateKey="[INSERT_YOUR_YUBICO_PRIVATE_KEY_HERE]"></YubicoCredentials>
  
  <YubicoApiValues CheckSignature="true" TimeStamp="1" VerifyUrl="http://api.yubico.com/wsapi/verify?"></YubicoApiValues>
  <YubicoApiRequest Signature="h" OTP="otp" Id="id" TimeStamp="timestamp"></YubicoApiRequest>
  <YubicoApiResponse Signature="h" TimeStamp="t" Status="status" SessionUse="sessionuse" SessionCounter="sessioncounter"></YubicoApiResponse>
</configuration>
